body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 0px  ;
  border: 1px solid black;
}

.title {
  padding: 0px;
  width: 100%;
  border: 1px solid black;
}

.profileInfos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.profileInfo {
  min-width: 50%;
  margin-bottom: 40px;
}

.publication {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid black;
}

.button {
  padding: 3px 5px;
  margin: 5px;
  border: 1px solid black;

}

.button:hover{
  background: #ccc;
  cursor: pointer;
}

.img {
  max-width: 200px;
  height: auto;
}